.table {
  padding: 10px;
  max-width: 720px;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  color: aliceblue;
}

.head {
  background-color: rgba(0, 0, 255, 0.5);
}
.body:nth-child(even) {
  background-color: rgba(33, 37, 35, 0.5);
}
.body:nth-child(even) {
  background-color: rgba(169, 176, 172, 0.5);
}
.row {
  width: 500px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
